.no-padding{
    padding:0px;
  }
  
ul.nav-menu-list-style .nav-header .menu-collapsible-icon{position:absolute; right:3px; top:16px; font-size:9px; }

ul.nav-menu-list-style{
margin:0;
}
ul.nav-menu-list-style .nav-header{
border-top:1px solid #FFFFFF;
border-bottom:1px solid #e8e8e8;
display:block;
margin:0;
line-height:42px;
font-weight:600;
}
ul.nav-menu-list-style> li{
position:relative; }
ul.nav-menu-list-style> li a{
border-top:1px solid #FFFFFF;
border-bottom:1px solid #e8e8e8;
padding:0 10px;
line-height:32px;
}


ul.nav-menu-list-style{list-style:none; padding:0px; margin:0px;}
ul.nav-menu-list-style li .badge,ul.nav-menu-list-style li .pull-right,ul.nav-menu-list-style li span.badge,ul.nav-menu-list-style li label.badge{float:right; margin-top:7px;}
ul.bullets{list-style:inside disc}
ul.numerics{list-style:inside decimal}
.ul.kas-icon-aero{}
ul.kas-icon-aero li a:before{font-family: 'Glyphicons Halflings'; font-size:9px; content: "\e258"; padding-right:8px; }

#infodatacon{
    padding-left: 10px;
}
.infodatasource{
    padding-left: 20px;
}

.infotable{
    padding-left: 30px;
}

.tree-leaf{
    padding-left: 40px;
}

.column-list{
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #e8e8e8;
    line-height: 32px;
}

.active-tree-leaf{
    background-color:#286090;
    color: #FFF;
}
  

.active-tree-table{
    background-color:#286090;
    color: #FFF;
}